/* PlayfulPandaTheme for BetterDiscord. Created by https://github.com/kirayoru/PlayfulPandaTheme */
.messages.scroller{
  background-image: url(https://raw.githubusercontent.com/kirayoru/PlayfulPandaTheme/master/img/Anime-Panda-Desktop-Wallpaper-07550.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.appMount-14L89u {
  background-image: url(https://raw.githubusercontent.com/kirayoru/PlayfulPandaTheme/master/img/Anime-Panda-Desktop-Wallpaper-07550.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}
.guilds-wrapper {
	background-color: #131313
}
.container-2OU7Cz {
	background-color: #131313
}
.container-RYiLUQ {
	background-color: #000000;
}
.container-iksrDt {
	background: rgb(0, 0, 0);
}
.theme-dark .title-qAcLxz {
	background: #131313
}
.theme-dark .chat form {
	background-color: #131313
}
.theme-dark .chat>.content {
	background-color: #131313
}
.theme-dark .channel-members {
	background-color: #131313
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
	background-color: #131313;
	border-color: #131313;
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
	background-color: #000000;
	border-color: #131313;
}
.container-3lnMWU {
  background: rgb(0, 0, 0);
  border-bottom: 0px solid;
}
.theme-dark .typing-3eiiL_ {
  background-color: #131313;
}
