/* PlayfulPandaTheme for BetterDiscord. Created by https://github.com/kirayoru/PlayfulPandaTheme */
/* Colors:

Black #000000
White #ffffff
Dark Grey #131313
Violet Blue RGB 82,56,233
Red Pink RGB 255,0,74
Red Pink (more dark) RGB 187, 0, 54
Light Green Blue #00ffaf
More Dark Green Blue #00c789
Spotify Color RGB 69, 214, 34
*/

/*@import "ppmainlight.css";

/*
    OVERALL UI
*/

.messages.scroller{
  background-image: url(https://raw.githubusercontent.com/kirayoru/PlayfulPandaTheme/exp/img/panda2.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.appMount-14L89u {
  background-color: #000000;
}

.guilds-wrapper {
	background-color: #131313
}

.container-2OU7Cz {
	background-color: #131313
}

.container-RYiLUQ {
	background-color: #000000;
}

.container-iksrDt {
	background: rgb(0, 0, 0);
}

.theme-dark .title-qAcLxz {
	background: #131313
}

.theme-dark .chat form {
	background-color: #131313
}

.theme-dark .chat>.content {
	background-color: #131313
}

.theme-dark .channel-members {
	background-color: #131313
}

.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
	background-color: #131313;
	border-color: #131313;
}

.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
	background-color: #000000;
	border-color: #131313;
}

.container-3lnMWU {
  background: rgb(0, 0, 0);
  border-bottom: 0px solid;
}

.theme-dark .typing-3eiiL_ {
  background-color: #131313;
}

.theme-dark .friends-table .messages .divider:before, .theme-dark .friends-table .messages .divider span, .theme-dark .messages-wrapper .messages .divider:before, .theme-dark .messages-wrapper .messages .divider span {
    background-color: rgba(0, 0, 0, 0);
}

.theme-dark .message-group:not(.has-divider) {
    border-bottom-color: hsla(0, 0%, 100%, 0);
}

.chat .new-messages-bar button {
  background-color: #000000;
}

.theme-dark .friends-table .messages .divider:not(.red) span, .theme-dark .messages-wrapper .messages .divider:not(.red) span {
    color: rgba(255, 255, 255, 0.74);
}

.badge {
    background-color: rgba(255, 0, 74, 1);
    border-radius: 10px;
    font-size: 13px;
}

.guilds-wrapper .guilds .guild.audio .guild-inner:after, .guilds-wrapper .guilds .guild.video .guild-inner:after {
    background-color: rgba(82, 56, 233, 1);
}

.guild-inner :link {
    background-color: rgba(41, 41, 41);
}

.menu-3BZuDT {
    border-radius: 20px;
}

.item-rK1j5B {
    color: #000000;
}

.menu-3BZuDT .item-rK1j5B:hover {
	  border-radius: 20px;
    background: linear-gradient(90deg,rgb(241, 241, 241) 70%,#ffffff);
    color: #000000;
}

.alt-2vq4VR .item-rK1j5B .helper-3X2gjI {
    color: rgba(0, 0, 0, 0.8);
}

.guilds-wrapper .guilds .guild.unread:before {
    background: #ffffff;
}

.wrapper-2xO9RX {
    background-color: rgb(255, 0, 74);
    border-radius: 20px;
}

.inner-ptMwR- .rtc-connection-status-connected {
    color: #00ffaf;
}

.theme-dark .channel-members .member.popout-open, .theme-dark .channel-members .member:hover {
    background: linear-gradient(90deg,#000000 70%,#131313);
    border: 2px solid linear-gradient(90deg,#000000 70%,#131313);
    border-radius: 20px;
}

.contentSelectedText-3j5CXt {
    background-color: rgba(67, 72, 80, 0.6);
}

.content-2mSKOj {
    border-radius: 8px;
}

.innerNoAutocomplete-kaUXJZ {
    border-radius: 10px;
}

.theme-dark .inner-3if5cm {
    background: #000000;
}

.theme-dark .h5-3KssQU {
    color: #ffffff;
}

.theme-dark .modal-3HOjGZ {
    background-color: #131313;
}

.theme-dark .footer-1PYmcw {
    background-color: #131313;
}

.theme-dark .input-2YozMi {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

.unread-2TDDFN {
    background-color: rgb(255, 0, 74);
}

.itemDefault-3NDwnY.item-3879bf.notSelected-PgwTMa[style*="color: rgb(240, 71, 71);"] {
  color: rgb(255, 0, 74) !important;
}

.uploadModal-2KN6Mm {
    background-color: #6a22ff;
    border-radius: 20px;
}

.uploadModal-2KN6Mm .footer-4pOKm8 {
    background-color: #ffffff;
}

.uploadModal-2KN6Mm .footer-4pOKm8 .button {
    background-color: #ffffff;
}

.button {
    color: #000000;
}

.uploadModal-2KN6Mm .footer-4pOKm8 .button-primary {
    color: rgb(82, 56, 233);
}

.regionSelectModal-QBpi1R .regionSelectModalHeader-33y0EU {
    color: rgba(82, 56, 233, 1);
}

.regionSelectModal-QBpi1R .regionSelectModalOption-3giLPN {
    background-color: #000;
    border: 0px solid #f3f3f3;
    border-radius: 20px;
}

.theme-dark .quickswitcher-2NdiGJ {
    background-color: #000000;
}

.quickswitcher-2NdiGJ {
    border-radius: 20px;
    box-shadow: 0px rgb(0,0,0);
}

.theme-dark .input-MwQhcX {
    background-color: #131313;
}

.input-MwQhcX {
    border-radius: 15px;
}

.status-dnd {
    background-color: rgb(255, 0, 74);
}

.status-invisible, .status-offline {
    background-color: #ffffff;
}

.status-idle {
    background-color: #ffb900;
}

.status-online {
    background-color: #00ffaf;
}

.theme-dark .autocomplete-1TnWNR {
    background-color: #000000;
}

.autocomplete-1TnWNR {
    border-radius: 15px 15px 0 0;
}

.theme-dark .selectorSelected-2M0IGv {
    background-color: #131313;
}

.theme-dark.contextMenu-uoJTbz {
    background: #131313;
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background-color: rgb(255, 0, 74);
    border-color: rgb(255, 0, 74);
}

.status.status-typing .spinner-item {
    background-color: #000000;
}

.guilds-wrapper .guilds .guild .avatar-small {
    border-radius: 20px;
}

.theme-dark .message-group .edit-message .edit-operation {
    color: hsl(0, 0%, 100%);
}

.message-group .edit-message .edit-operation>a {
    color: rgba(82, 56, 233, 1);
}

/*
    EMOJI PICKER
*/

.emojiPicker-3g68GS {
    background-color: #131313;
    border: 1px solid rgba(82, 56, 233, 0.7);
}

#bda-qem {
    background: #000000;
    color: #ffffff;
}

.search-bar.search-bar-light {
    background-color: #131313;
}

.search-bar.search-bar-light .search-bar-inner {
    border-radius: 10px!important;
}

.emojiPicker-3g68GS .stickyHeader-3LjM5X {
    background: hsla(0, 0%, 0%, 0.95);
    border: 1px solid black;
    border-radius: 10px;
}

.emojiPicker-3g68GS .category-3rCtoh {
    color: rgb(255, 0, 74);
}

.emojiPicker-3g68GS .categories-jw8z2h .item-lsWB-j.selected-1LQfcZ {
    border-bottom-color: rgb(82, 56, 233);
}

.scrollerThemed-19vinI.themeLight-1WK0Av .scroller-fzNley::-webkit-scrollbar-thumb, .theme-dark .scrollerThemed-19vinI.themeLight-1WK0Av .scroller-fzNley::-webkit-scrollbar-thumb, .theme-light .scrollerWrap-2uBjct .scroller-fzNley::-webkit-scrollbar-thumb {
    background-color: #3000ff;
    border-color: transparent;
}

/*
    FRIENDS SECTION
*/

.channels-3g2vYe {
  background-color: #000000;
}

.theme-dark .headerBar-cxbhPD {
  background: #000000;
}

.theme-dark .friends-table, .theme-dark .messages-wrapper {
    background-color: #131313;
}

.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary {
    background-color: rgb(82, 56, 233);
    color: #fff;
}

.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary:hover {
    background-color: rgb(255, 0, 74);
    color: #fff;
}

.theme-dark #friends .tab-bar .tab-bar-item.selected {
    color: #000000;
}

.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary.selected {
    color: #000000;
}

.theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected) {
    background-color: rgba(255, 255, 255, 0.15);
}

.guild-inner :hover{
	background-color: rgba(82, 56, 233, 1);
}

.guild-inner :link{
	background-color: rgba(82, 56, 233, 1);
}

.theme-dark #friends .friends-table .friend-table-add-wrapper .friend-table-add-header {
    background: linear-gradient(-180deg,rgba(82, 56, 233, 0.3),rgba(255, 0, 74, 0.3));
}

#friends .friends-table {
    margin-top: 0px;
}

.private-channels .channel a {
    border-radius: 10px;
}

/*
    CALLS
*/

.video-3lOWa6 {
    background-color: #000000;
}

.theme-dark .private-channel-call.minimum .private-channel-call-actions .center {
    background-color: #131313;
    border-color: #131313;
}

.private-channel-call .icons-wrapper {
    border-radius: 10px;
}

.lookFilled-luDKDo.colorRed-3HTNPV {
    background-color: rgb(255, 0, 74);
}

.lookFilled-luDKDo.colorRed-3HTNPV:hover {
    background-color: rgb(187, 0, 54);
}

/*
    SETTINGS
*/

.lookFilled-luDKDo.colorGreen-22At8E:hover {
    background-color: #00c789;
}

.lookFilled-luDKDo.colorGreen-22At8E {
    background-color: #00ffaf;
}

.theme-dark .ui-standard-sidebar-view .content-region {
    background: #131313;
}

.theme-dark .header-1-f9X5 {
    color: #ffffff;
}

.theme-dark .ui-standard-sidebar-view .sidebar-region {
    background: #131313;
}

.side-2nYO0F .itemSelected-3XxAMf {
    background-color: rgba(82, 56, 233, 1);
}

.side-2nYO0F .item-3879bf {
    border-radius: 7px;
}

.lookFilled-luDKDo.colorBrand-3PmwCE {
    background-color: rgba(82, 56, 233, 1);
}

.lookFilled-luDKDo.colorBrand-3PmwCE:hover {
    background-color: rgba(255, 0, 74, 1);
}

itemDefault-3NDwnY.item-3879bf.notSelected-PgwTMa {
    color: rgb(255, 0, 74);
}

.userSettingsSecurity-1hjwAn .isEnabled-3JekTu {
    color: #00ffaf;
}

.lookOutlined-1c5nhl.colorRed-3HTNPV {
    color: rgba(255, 0, 74, 1);
}

.lookOutlined-1c5nhl.colorRed-3HTNPV:hover {
    border-color: rgba(255, 0, 74, 0.6);
}

.theme-dark .questionMark-1R8WLs {
    background-color: #000000;
}

.item-2zi_5J.marginBottom8-1mABJ4.horizontal-2VE-Fw.flex-3B1Tl4.directionRow-yNbSvJ.cardPrimaryEditable-2IQ7-V{
  background-color: rgba(0, 0, 0, 1);
  border-color: rgba(0, 0, 0, 1);
  border-radius: 10px !important;
}

.themeDefault-3M0dJU.valueChecked-3Bzkbm {
    background-color: rgb(255, 0, 74);
}

.barFill-18ABna {
    background: rgb(82, 56, 233);
}

.cardPrimaryEditable-2IQ7-V[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
         background: rgb(255, 0, 74) !important;
         border-color: rgb(255, 0, 74) !important;
		     border-radius: 10px !important;
}

.checked-2TahvT[style="border-color: rgb(114, 137, 218);"] ,
.theme-dark .checkbox-1QwaS4[style="background-color: rgb(114, 137, 218); border-color: rgb(114, 137, 218);"] {
          border: 0px solid #ffffff !important;
          background: rgb(255, 0, 74) !important;
}

.theme-dark .checkbox-1QwaS4 {
    border-color: rgb(255, 0 ,74);
}

.checked-2TahvT[style="border-color: rgb(114, 137, 218);"] polyline[stroke],
.theme-dark .checkbox-1QwaS4[style="background-color: rgb(114, 137, 218); border-color: rgb(114, 137, 218);"] polyline[stroke] {
    stroke: #ffffff;
    stroke-width: 2;
}

/*
    PERMISSION SETTINGS
*/

.theme-dark .denySelected-h37B9e {
    border-color: rgb(255, 0, 74);
}

.denySelected-h37B9e {
    background: rgb(255, 0, 74);
}

.theme-dark .item-3H-QZD {
    border-color: #000000;
}

.theme-dark .passthroughSelected-3_g4oB {
    background: #000000;
}

.theme-dark .allowSelected-1FAg8y {
    background: rgb(69, 214, 34);
}

.allowSelected-1FAg8y {
    background: rgb(69, 214, 34);
}

/*
    USER PROFILES
*/

.userPopout-11hFKo {
    border-radius: 20px;
}

.bodyTitle-18hsd9 {
    color: #ffffff;
}

.theme-dark .body-3ljq11, .theme-dark .footer-2wFs91 {
    background: linear-gradient(-180deg,#131313,#000000);
    color: hsl(0, 0%, 100%);
}

.theme-dark .footer-2wFs91 {
    border-color: rgba(255, 255, 255, 0.2);
}

.headerSpotify-26yUf5 {
    background: rgb(69, 214, 34);
}

.headerPlaying-2Q7mBy {
    background: rgb(255, 0, 74);
}

.activity-3NviKQ {
    background-color: rgba(0, 0, 0, 0.1);
}

.topSectionSpotify-3744IX {
    background: rgb(69, 214, 34);;
}

.topSectionPlaying-3jAH9b {
    background: rgb(255, 0, 74);
}

.headerFill-TTyrtz {
    background-color: rgba(0, 0, 0, 0.1);
}

.theme-dark .body-3_tdh6 {
    background: linear-gradient(-180deg,#131313,#000000);
}

.root-2sNHUF {
    border-radius: 35px;
}

.topSectionNormal-2LlRG1 {
    background-color: #000000;
}

.item-1XYaYf.danger-1oUOCl {
    color: rgba(255, 0, 74, 1)!important;
}

/*
    BETTERDISCORD SETTINGS
*/

#bd-settings-sidebar .ui-tab-bar-item.selected {
    color: #fff;
    background-color: rgb(82, 56, 233);
    border: 1px solid rgb(82, 56, 233);
    border-radius: 7px;
}

#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
    background: rgb(255, 0, 74);
}

#bd-settingspane-container h2.ui-form-title {
	color: #ffffff !important;
}

.bda-slist li {
    background: #000000;
    border: 0px solid #000000;
}

.bda-slist .bda-header {
	color: #ffffff !important;
  border-bottom: 0px solid #000000;
}

#bd-settings-sidebar .ui-tab-bar-item{
	color: #ffffff;
}
