/* PlayfulPandaTheme for BetterDiscord. Created by https://github.com/kirayoru/TrueWhiteTheme */
.messages.scroller{
  background-image: url(https://raw.githubusercontent.com/kirayoru/PlayfulPandaTheme/master/img/Anime-Panda-Desktop-Wallpaper-07550.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.appMount-14L89u {
  background-image: url(https://raw.githubusercontent.com/kirayoru/PlayfulPandaTheme/master/img/Anime-Panda-Desktop-Wallpaper-07550.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}
